<a href="https://colab.research.google.com/github/dhanush1234567890/python-programs/blob/main/Copy_of_module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ## module 2

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr
def nCr (l,d):
  return(fact(l)/(fact(d)
                  *fact(l-d)))
l=int(input(""))
d=int(input(""))
def fact(l):
    res=1
    for i in range(2,l+1):
      res =res*i
    return res
print(int(nCr(l,d)))

5
2
10

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Exour)pected Output : ['Green', 'White', 'Black']

In [ ]:
colour=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
colour=[x for (i,x) in enumerate (colour) if i not in (0,4,5)]
print(colour)

['Green', 'White', 'Black']

##Given list of tuples, remove all the tuples with length K.
##Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
##Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

In [ ]:
my_list=[(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

print("The list is : " )
print(my_list)

k=2
print("the value of k is ")
print(k)
my_result =[ele for ele in my_list if len(ele) !=k]

print("the filtered list is : ")
print(my_result)

The list is :
[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
the value of k is
2
the filtered list is :
[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
##Program to get the difference between the two lists.
a=[1,2,3,4,5]
b=[6,7,8,9,3]
diff_a_b=list(set(a)-set(b))
diff_b_a=list(set(b)-set(a))
total_diff=diff_a_b + diff_b_a
print(total_diff)

[1, 2, 4, 5, 8, 9, 6, 7]

In [ ]:
##Given a list of numbers of list, write a Python program to create a list of tuples
##having first element as the number and second element as the square of the
##number.
my_list = [4, 5, 7, 9, 12]
print("The list is ")
print(my_list)
print("The resultant tuple is :")
my_result = [(val, pow(val, 2)) for val in my_list]
print(my_result)

The list is
[4, 5, 7, 9, 12]
The resultant tuple is :
[(4, 16), (5, 25), (7, 49), (9, 81), (12, 144)]

In [ ]:
##Program to generate and print a dictionary that contains a number (between 1
##and n) in the form (x, x*x).

n=int(input("input a number"))
d = dict()

for x in range(1,n+1):
  d[x]=x*x

  print(d)

input a number2
{1: 1}
{1: 1, 2: 4}

In [ ]:
##Program to remove a key from a dictionary
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict:
  del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
##program to get the maximum and minimum value in a dictionary.
my_numbers={"1":24,"w":98,"3":87,"4":76}
max_value=max(my_numbers, key=my_numbers.get)
min_value=min(my_numbers, key=my_numbers.get)
print("the maximum value in the given numbers has a key:'"+max_value+"' and its value is:",my_numbers[max_value])
print("the minimum value in the given numbers has a key:'"+min_value+"' and its value is:",my_numbers[min_value])

the maximum value in the given numbers has a key:'w' and its value is: 98
the minimum value in the given numbers has a key:'1' and its value is: 24

In [ ]:
##Program for Counting occurrence of a certain element in a string, getting indexes that
##have matching elements.For ex -.In Rabbit count how many times b has occurred .
##Example-I have to go to a doctor and get myself checked. Count the number of
##occXrrences of µWo¶.
friend1="anitha"
print(friend1.count("s"))
string="have to go to a doctor and get myself checked"
print(string.count("e"))

0
5

In [ ]:
##Program to find the second smallest number and second largest number in a list.
numbers=[33,56,47,98,78,67]
numbers.sort()
print(numbers)
print("2nd smallest number is:",numbers[2])
print("2nd largestt number is:",numbers[len(numbers)-2])

[33, 47, 56, 67, 78, 98]
2nd smallest number is: 56
2nd largestt number is: 78

In [ ]:
##Program to perform operations on string using unicodes ,splitting of string,accessing
##elements of string using locations
my_string=input("enter a string: ")
print(my_string.split())
print(my_string[4:69])

enter a string: dhanush is a good boy
['dhanush', 'is', 'a', 'good', 'boy']
ush is a good boy

In [ ]:
##Program for replacing one substring by another For example - Rabbit - Replace µbb¶ b\µcc¶
friend1="ankitha"
friend2=friend1.replace("k","")
print(friend2)

anitha

In [ ]:
##Program to Acronym generator for any user input (ex-input is Random memory access
##then output should be RMA).Example - Random number (RN)
string=input("enter the string")
y=string.split()
for i in y:
  print(i[0],end="")

enter the stringola
o

In [ ]:
##Python function that accepts a string and calculates the number of uppercase
##letters and lowercase letters.
string="i hate my drinker in this WORLD"
count_1=0
count_2=0
for i in string:
  if i.isupper():
    count_1+=1
  elif i.islower():
     count_2+=1
  else:
    pass
  print("no.of uppercase alphabets are: ",count_1)
  print("no.of lowercase alphabets are: ",count_2)

no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  1
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  1
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  2
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  3
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  4
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  5
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  5
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  6
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  7
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  7
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  8
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  9
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  10
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  11
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  12
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  13
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  14
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  14
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  15
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  16
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  16
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  17
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  18
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  19
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  20
no.of uppercase alphabets are:  0
no.of lowercase alphabets are:  20
no.of uppercase alphabets are:  1
no.of lowercase alphabets are:  20
no.of uppercase alphabets are:  2
no.of lowercase alphabets are:  20
no.of uppercase alphabets are:  3
no.of lowercase alphabets are:  20
no.of uppercase alphabets are:  4
no.of lowercase alphabets are:  20
no.of uppercase alphabets are:  5
no.of lowercase alphabets are:  20

In [ ]:
##Program to count the number of strings where the string length is 2 or more and
##the first and last character are same from a given list of strings
sample_list =[ "abc ", "cvb","4567","deepu","18","fgjhg"]
count=0
for i in sample_list:
  if len(i)>=2:
   if i[0]==i[len(i)-1]:
    print(i)
  count+=1
  print(count)

1
2
3
4
5
6