<a href="https://colab.research.google.com/github/dhanush1234567890/python-programs/blob/main/Copy_of_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string
a="string"
print(a)
print(type(a))
print(a[1])
#length
a="string"
print(len(a))

a="hello string"
print(len(a))

a="rrr has been released"
print("rrr" in a)

a="rrr has been released"
print("rrr" not in a)

a="rrr movie has been released"
print(a[2:5])

string
<class 'str'>
t
6
12
True
False
r m

## modify strings

In [ ]:
# convert the  string into upper case
a="rrr has been released"
print(a.upper())

# convert the string into lower case
a="rrr has been released"
print(a.lower())

#remove white space
a="rrr has been released"
print(a.strip())

#replacing string
a="rrr has been released"
print(a.replace("rrr","raja"))

#split strings
a="rrr, has been replaced"
print(a.split(","))


# string concatenation
a="bhanu"
b="mounika"
#print(a+" "+b)

RRR HAS BEEN RELEASED
rrr has been released
rrr has been released
raja has been released
['rrr', ' has been replaced']

## format strings

In [ ]:
a=145
b="hello ()"
print(b.format(a,b))

price=150
quantity=3
item=1
name="kgf"
myorder="i bought {3} with{0} having {1} and purchase {2}"
print(myorder.format(price,quantity,item,name))


sub1=int(input("enter math marks"))
sub2=int(input("enter phy marks"))
sub3=int(input("enter eng marks"))
sub4=int(input("enter telugu marks"))
sub5=int(input("enter beee marks"))
marks="my math marks are {0} phy marks are {1} eng marks are {2} telugu marks are {3} beee marks are {4}"
print(marks.format(sub1,sub2,sub3,sub4,sub5))

hello ()
i bought kgf with150 having 3 and purchase 1
enter math marks99
enter phy marks99
enter eng marks97
enter telugu marks99
enter beee marks99
my math marks are 99 phy marks are 99 eng marks are 97 telugu marks are 99 beee marks are 99

## escape characters

In [ ]:
a="hello bhanu \"hi\""
print(a)
b="hey mounika \\is mental"
print(b)
c="hello \nbhavana"
print(c)
d="hello \tabhi"
print(d)
e="hello\bdhanush"
print(e)
h="hello\fvenkat"
print(h)

#octal value
a="\110\145\154\154\157"
print(a)

hello bhanu "hi"
hey mounika \is mental
hello
bhavana
hello 	abhi
hellodhanush
hellovenkat
Hello

## string methods

In [ ]:
a="bhanu"
b=a.capitalize()
print(b)

a="bhanu"
b=a.casefold()
print(b)

a="bhanu"
b=a.center(30)
print(b)

a="hello world welcome to my world"
b=a.count("")
print(b)
print(len(a))

Bhanu
bhanu
            bhanu
32
31