<a href="https://colab.research.google.com/github/dhanush1234567890/python-programs/blob/main/Copy_of_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## calling a function

In [ ]:
#functions
def dhanush():
  print("Hello from dhanush")
dhanush()

Hello from dhanush

## arguments

In [ ]:
def DHANUSH(HI):
  print(HI + "  STUDENT")

DHANUSH("GOOD")
DHANUSH("BAD")
DHANUSH("AVERAGE")

GOOD  STUDENT
BAD  STUDENT
AVERAGE  STUDENT

## with arguments and with out return

In [ ]:
def votting(g, n, a):
  print(g + "male")
  print(n +"dhanush")
  print(a +"18")
votting("gender:","name:","age:")

gender:male
name:dhanush
age:18

In [ ]:
def age():
 a=int(input("enter a"))
if(a>=18):
  print("eligible")
else:
   print("not eligible")
age()

eligible
enter a55

## DEFAULT PARAMETER VALUE

In [ ]:
def dhanush (name="dhanush"):
  print(name + " is from india")  

dhanush("amma")
dhanush("brother")
dhanush("mama")
dhanush()

amma is from india
brother is from india
mama is from india
dhanush is from india

## passing list as an argument

In [ ]:
def dhanush(food):
  for x in food:
   print(x)

choclates = ["dairy milk","fruitynut","almond roast"]
dhanush(choclates)

dairy milk
fruitynut
almond roast

##return values

In [ ]:
def dhanush(x):
  return 3*x
print(dhanush(6))
print(dhanush(3))
print(dhanush(8))

18
9
24

## recursion

In [ ]:
def dhanush(x):
  if(x>0):
    result = x + dhanush(x-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion example results")
dhanush(4)

Recursion example results
1
3
6
10

10